#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh  $@

override_dh_install:
	dh_install -X debian -X LICENSE
	mkdir -p debian/z-push/var/lib/z-push
	mkdir -p debian/z-push/var/log/z-push
	mkdir -p debian/z-push/etc/apache2/conf-available/
	cp debian/zentyal-activesync.conf debian/z-push/etc/apache2/conf-available/
	dh_installlogrotate
